BEGIN TRY

BEGIN TRAN;

-- AlterTable
ALTER TABLE [dbo].[Supplier] ADD [normalMilkPricePerKg] FLOAT(53);

-- CreateTable
CREATE TABLE [dbo].[SupplierPricingPeriod] (
    [id] NVARCHAR(1000) NOT NULL,
    [supplierId] NVARCHAR(1000) NOT NULL,
    [periodStart] DATETIME2 NOT NULL,
    [basePricePerKg] FLOAT(53),
    [normalMilkPricePerKg] FLOAT(53),
    [fatBonusPerPct] FLOAT(53),
    [proteinBonusPerPct] FLOAT(53),
    [createdAt] DATETIME2 NOT NULL CONSTRAINT [SupplierPricingPeriod_createdAt_df] DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT [SupplierPricingPeriod_pkey] PRIMARY KEY CLUSTERED ([id]),
    CONSTRAINT [SupplierPricingPeriod_supplierId_periodStart_key] UNIQUE NONCLUSTERED ([supplierId],[periodStart])
);

-- CreateIndex
CREATE NONCLUSTERED INDEX [SupplierPricingPeriod_periodStart_idx] ON [dbo].[SupplierPricingPeriod]([periodStart]);

-- AddForeignKey
ALTER TABLE [dbo].[SupplierPricingPeriod] ADD CONSTRAINT [SupplierPricingPeriod_supplierId_fkey] FOREIGN KEY ([supplierId]) REFERENCES [dbo].[Supplier]([id]) ON DELETE CASCADE ON UPDATE CASCADE;

COMMIT TRAN;

END TRY
BEGIN CATCH

IF @@TRANCOUNT > 0
BEGIN
    ROLLBACK TRAN;
END;
THROW

END CATCH

